p {
  padding: 0;
}

/* ToggleButton.css */

.sidebar__toggle_button {
  display: flex; /* Размещение элементов в одну строку */
  justify-content: center; /* Выравнивание элементов по горизонтали */
  align-items: center; /* Выравнивание элементов по вертикали */
  padding: 10px 20px; /* Отступы */
  color: #ffffff; /* Белый цвет текста */
  font-size: 16px; /* Размер шрифта */
  background-color: #282c34; /* Темный фон */
  background-image: url('../../../assets/buttons/toggle_button.jpeg');
  border: none; /* Убираем границу */
  border-radius: 5px; /* Скругленные углы */
  cursor: pointer; /* Курсор указатель */
  transition: background-color 0.3s ease; /* Плавно меняем цвет при наведении */
}

.toggle-button:hover {
  background-color: #343a40; /* Темнее фон при наведении */
}

.toggle-button:active {
  background-color: #212529; /* Еще темнее фон при нажатии */
  transform: translateY(1px); /* Немного опускаем кнопку при нажатии */
}

.toggle-button-icon {
  /* Для иконки */
  margin-right: 10px; /* Отступ справа от иконки */
}

.css-lvmqy6 {
  border-radius: 20px;
}

/* .ps-active {
  background-color: #fdc500;
} */
