.manageattendance__general {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  background: url('../../../../assets/personal_account_images/attendance.jpg')
    no-repeat center center;
  background-size: cover;
}

.manageattendance__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  height: 100vh;
  overflow: hidden;
  resize: horizontal;
}

.manageattendance__title {
  align-self: center;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 10px;
  font-weight: bold;
  font-size: 40px;
  background: rgb(255 255 255 / 70%);
}

.manageattendance__group_list {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.manageattendance__group_item {
  position: relative;
  width: 200px;
  padding: 10px;
  text-align: center;
  background: rgb(255 255 255 / 70%);
  border-bottom: 2px solid #cccccc;
  cursor: pointer;
}

.manageattendance__vertical_line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px;
  background-color: rgb(19 162 223 / 89.1%);
  cursor: ew-resize;
}

.manageattendance__details {
  flex-grow: 1;
  padding: 16px;
}

.manageattendance__group_title {
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 24px;
}

.manageattendance__month_controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 700px;
  height: 40px;
}

.manageattendance__month_arrows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.manageattendance__month_controls_leftarrow {
  min-width: 48px;
  padding-top: 40px;
  padding-left: 80px;
  background: url('../../../../assets/icons/left_arrow.png') no-repeat center
    center;
  cursor: pointer;
  opacity: 0.8;
}

.manageattendance__month_controls_rightarrow {
  min-width: 48px;
  padding-top: 40px;
  padding-right: 80px;
  background: url('../../../../assets/icons/right_arrow.png') no-repeat center
    center;
  cursor: pointer;
  opacity: 0.8;
}

.manageattendance__month_controls_leftarrow:hover {
  opacity: 1;
}

.manageattendance__month_controls_rightarrow:hover {
  opacity: 1;
}

.manageattendance__month_controls_monthtitle {
  align-self: center;
  font-size: 24px;
  text-shadow: 0 0 2px #ffffff;
}

.manageattendance__group_item_selected {
  color: white;
}

.manageattendance__group_info {
  display: flex;
  min-height: 300px;
  margin-top: 40px;
  margin-right: 80px;
  margin-left: 80px;
  background: rgb(255 255 255 / 25%);
  border-radius: 30px;
}

.manageattendance__preload_img {
  z-index: 99;
  width: 150px;
  height: 90px;
  margin: auto;
  background: url('../../../../assets/icons/book_icon.png') no-repeat center;
}

.manageattendance__group_item:hover {
  background: yellow;
}

@media (width <= 995px) {
  .manageattendance__month_controls {
    width: 500px;
  }
}

@media (width <= 781px) {
  .manageattendance__month_controls {
    width: 300px;
  }
}
