.manageattendance__general {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  text-shadow: 0 0 2px #ffffff;
  background: url('../../../../assets/personal_account_images/attendance.jpg')
    no-repeat center center;
  background-size: cover;
}

.manageattendance__main_block {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-top: 50px;
  color: black;
  font-weight: bold;
  text-align: center;
}

.manageattendance__group_list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 25px;
  margin-bottom: 20px;
  padding-right: 40px;
  padding-left: 40px;
  list-style-type: none;
}

.manageattendance__title {
  align-content: center;
  align-self: center;
  margin-bottom: 20px;
  font-size: 25px;
  border-bottom: 3px solid black;
}

.manageattendance__group_item {
  font-size: 19px;
  cursor: pointer;
}

.manageattendance__group_item:hover {
  color: white;
}

.manageattendance__month_controls {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.manageattendance__month_controls_leftarrow {
  padding-left: 80px;
  background: url('../../../../assets/icons/left_arrow.png') no-repeat center
    center;
  cursor: pointer;
  opacity: 0.8;
}

.manageattendance__month_controls_rightarrow {
  padding-right: 80px;
  background: url('../../../../assets/icons/right_arrow.png') no-repeat center
    center;
  cursor: pointer;
  opacity: 0.8;
}

.manageattendance__month_controls_leftarrow:hover {
  opacity: 1;
}

.manageattendance__month_controls_rightarrow:hover {
  opacity: 1;
}

.manageattendance__month_controls_monthtitle {
  align-self: center;
  font-size: 24px;
  text-shadow: 0 0 2px #ffffff;
}

.manageattendance__group_item_selected {
  color: white;
}

.manageattendance__group_info {
  display: flex;
  min-height: 300px;
  margin-top: 40px;
  margin-right: 80px;
  margin-left: 80px;
  background: rgb(255 255 255 / 25%);
  border-radius: 30px;
}

.manageattendance__preload_img {
  z-index: 99;
  width: 150px;
  height: 90px;
  margin: auto;
  background: url('../../../../assets/icons/book_icon.png') no-repeat center;
}

@media (width <= 600px) {
  .manageattendance__group_info {
    min-height: 200px;
  }
}

@media (width <= 560px) {
  .manageattendance__group_info {
    min-height: 100px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 0;
  }
}

@media (width <= 478px) {
  .manageattendance__group_info {
    min-height: 80px;
    margin-right: 4px;
    margin-left: 4px;
    padding: 0;
  }
}

@media (width <= 450px) {
  .manageattendance__month_controls_monthtitle {
    font-size: 14px;
  }

  .manageattendance__group_item {
    font-size: 13px;
  }

  .manageattendance__title {
    font-size: 14px;
  }
}
