.manageattendance__general {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background: url('../../../../assets/personal_account_images/attendance.jpg')
    no-repeat center center;
  background-size: cover;
}

.manageattendance__main_block {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin-top: 50px;
  color: black;
  font-weight: bold;
  text-align: center;
}

.manageattendance__group_list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 25px;
  margin-bottom: 20px;
  padding-right: 40px;
  padding-left: 40px;
  list-style-type: none;
}

.manageattendance__title {
  align-content: center;
  align-self: center;
  margin-bottom: 20px;
  font-size: 25px;
  text-shadow: 0 0 2px #ffffff;
  border-bottom: 3px solid black;
}

.manageattendance__group_item {
  font-size: 19px;
  cursor: pointer;
}

.manageattendance__group_item:hover {
  color: orange;
}

.manageattendance__month_controls {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.manageattendance__month_controls_leftarrow {
  padding-left: 80px;
  background: url('../../../../assets/icons/left_arrow.png') no-repeat center
    center;
  cursor: pointer;
  opacity: 0.8;
}

.manageattendance__month_controls_rightarrow {
  padding-right: 80px;
  background: url('../../../../assets/icons/right_arrow.png') no-repeat center
    center;
  cursor: pointer;
  opacity: 0.8;
}

.manageattendance__month_controls_leftarrow:hover {
  opacity: 1;
}

.manageattendance__month_controls_rightarrow:hover {
  opacity: 1;
}

.manageattendance__month_controls_monthtitle {
  align-self: center;
  font-size: 24px;
  text-shadow: 0 0 2px #ffffff;
}
