.studentpayment__general {
  flex-grow: 1;
  padding-left: 300px;
  background: url('../../../../assets/personal_account_images/personal_data.jpg')
    no-repeat center center;
  background-size: cover;
}

.studentpayment__buttons {
  display: flex;

  /* flex-direction: column; */
  flex-direction: row;
  gap: 50px;
  margin-top: 200px;
  margin-left: 10px;
}

.studentpayment__button {
  /* max-width: 300px; */

  /* min-width: 10px; */
  width: 220px;
  height: 220px;

  /* max-height: 160px; */
  padding: 20px;

  /* display: inline-flex; */

  /* align-items: center; */
  text-align: center;
  background-color: transparent;

  /* background-color: #c6dce7; */
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.studentpayment__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* gap: 10px; */
}

.studentpayment__icon {
  width: 130px;
  height: 130px;
  transition: scale 0.4s ease-out 1ms;
}

.studentpayment__button_text {
  font-size: 20px;
}

.studentpayment__button:hover {
  background-color: rgb(227 227 48 / 80.9%);
}

.studentpayment__icon:hover{
  scale: 1.3;
}