.not-found-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.not-found-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.not-found-title {
  margin-bottom: 1rem;
  color: #333333;
  font-weight: bold;
  font-size: 40px;
}

.not-found-message {
  margin-bottom: 2rem;
  color: #666666;
  font-size: 25px;
  text-align: center;
}

.animated-text {
  display: inline-block;
  transform: translateY(20px); /* Сдвиг вниз */
  opacity: 0; /* Начальная прозрачность */
  animation: fadein 0.5s forwards; /* Применение анимации */
}

@keyframes fadein {
  to {
    transform: translateY(0); /* Возврат на место */
    opacity: 1; /* Конечная прозрачность */
  }
}

.not-found-link {
  display: inline-block;
  margin-bottom: 50px;
  padding: 1rem 2rem;
  color: #ffffff;
  text-decoration: none;
  background-color: #d6bf3e;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.not-found-link:hover {
  background-color: #b8be7b;
}
