/* stylelint-disable selector-class-pattern */

.studentattendance__general {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background: url('../../../../assets/personal_account_images/attendance.jpg')
    no-repeat center center;
  background-size: cover;
}

.studentattendance__title {
  padding-left: 80px;
}

.studentattendance__calendar {
  z-index: 1;
  margin-left: 50px;
  padding: 10px;
  background-color: antiquewhite;
  opacity: 0.84;
}

.attended {
  background-color: #80c360;
  border: 3px;

  /* border-radius: 50%; */
}

.spravka {
  background-color: #ef9e24;

  /* border-radius: 50%; */
}

.unattended {
  background-color: #fa5332;

  /* border-radius: 50%; */
}

.day {
  /* border-radius: 50%; */
}

.react-calendar__navigation {
  font-size: 25px;
}

.react-calendar__tile--now {
  background: unset;
  border: 2px solid #04aa6d;
}

.react-calendar {
  border: 2px solid black;
}

@media (width <= 430px) {
  .studentattendance__title {
    padding: 0;
    text-align: center;
  }

  .studentattendance__calendar {
    margin: 0;
    padding: 0;
  }
}
