p {
  margin: 0;
  padding: 8px;
}

.intro__general {
  margin: 0;
  color: #5b3718;
  font-weight: bold;
  font-size: 1.4rem;
  font-family: 'Arial Narrow', sans-serif;
  line-height: 2rem;
  background-image: url('../../../public/intro_brick.jpg');
}

.intro__info {
  display: grid;
  grid-template-columns: 1fr 460px 1fr;
  grid-auto-rows: min-content;
  gap: 1rem;
  padding-top: 250px;
  padding-bottom: 250px;
}

.intro__info_general {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 350px;
}

.intro__logo {
  width: 600px;
  height: 270px;
  margin-left: auto;
  background-image: url('../../../public/logo_small.png');
  background-repeat: no-repeat;
  border: 0;
}

.intro__info_official {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 100px;
  color: #5b3718;
  font-size: 1.2rem;
  font-family: 'Arial Narrow', sans-serif;
  text-align: right;
  cursor: pointer;
}

.intro__info_news {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro__programs_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  margin-top: 15px;
  margin-bottom: auto;
}

.intro__info_programs {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  max-width: 460px;
  padding-left: 100px;
}

.intro__list_news {
  margin: 0;
  margin-top: 15px;
  margin-bottom: auto;
}

.intro__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 330px;
  margin: 0;
}

.intro__icon {
  width: 33px;
  height: 33px;
}

.intro__text_yellow_mixin {
  color: #e98114;
  font-weight: bold;
  list-style-type: none;
}

.intro__text_bottom_mixin {
  margin-bottom: auto;
}
