.password-change-popup {
  width: 100%;
  max-width: 300px;
  padding: 20px;

  /* background-color: rgb(255 255 255 / 80%); */
  background-color: white;
  border-radius: 20px;

  /* opacity: 0.95; */

  /* box-shadow: 0 4px 10px rgb(0 0 0 / 10%); */
}

.password-change-popup__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.popup-overlay {
  background-color: unset;
}

.password-change-popup__title {
  align-content: center;
  color: #5b3718;
  font-size: 24px;
}

.password-change-popup_icon {
  color: green;
  font-size: 30px;
}

.password-change-popup__close {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.password-change-popup__form {
  display: flex;
  flex-direction: column;
}

.password-change-popup__label {
  margin-bottom: 10px;
  font-weight: 500;
}

.password-change-popup__input {
  /* width: 100%; */
  min-width: 269px;
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 12px;
}

.password-change-popup__input:focus {
  border-color: rgb(168 214 99);
  outline: green;
}

.password-change-popup__input::placeholder {
  outline: green;
}

.password-change-popup__submit {
  max-width: 200px;
  min-height: 50px;
  margin: auto;
  background-color: rgb(168 214 99);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
