.password-change-popup {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
}

.password-change-popup__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password-change-popup__title {
  margin: 0;
  font-size: 1.5rem;
}

.password-change-popup__close {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.password-change-popup__form {
  display: flex;
  flex-direction: column;
}

.password-change-popup__label {
  margin-bottom: 10px;
  font-weight: 500;
}

.password-change-popup__input {
  width: 100%;
  margin-top: 5px;
  padding: 8px;
  font-size:;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
