.attendance__general {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
}

.attendance__register {
  position: relative;
  z-index: auto;
}

.attendance__student_name {
  background-color: lightblue;
  border: 3px solid #171717ca;
}

.attendance__date {
  background-color: lightblue;
  border: 3px solid #171717ca;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  min-width: 30px;
  padding: 8px;
  font-size: 20px;
  text-align: center;
  border: 1px solid #cccccc;
}

th.empty-cell {
  background-color: #f0f0f0;
}

td.name-cell {
  font-weight: bold;
  background-color: black;
}

.attendance__cell_inactive {
  padding: 5px;
  background-color: grey;
}

.attendance__cell_attended {
  background-color: #57aa30;
  cursor: pointer;
}

.attendance__cell_spravka {
  background-color: #ef9e24;
  cursor: pointer;
}

.attendance__cell_unattended {
  background-color: #fa5332;
  cursor: pointer;
}

.attendance__dropdown {
  position: absolute; /* or position: fixed; */
  z-index: 100000;
  flex-direction: column;
  background-color: white;
  border: 1px solid #cccccc;
  border: 3px solid black;
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
}

.attendance__item {
  display: flex;
  align-items: center;
  padding-right: 10px;
  padding-left: 2px;
  border: 1px solid black;
  cursor: pointer;
}

.attendance__item:hover {
  background-color: lightgrey;
}

.attendance__square {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.attendance__save_button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.attendance__save_button_disabled {
  background-color: gray;
  cursor: auto;
}

.attendance__save_button:hover:enabled {
  background-color: rgb(216 216 121);
  cursor: pointer;
}
